<div id="container">
  <div>
    <h1>Searching for {{screenName}}</h1>
  </div>

  <form name="queryForm" ng-submit="getData()">
    <input value="screenName" ng-model="screenName" placeholder="Enter a screen name to search" required/>
    <button type="submit" ng-disabled="queryForm.screenName.$error.required">See your friends</button>
  </form>

  <div class="follow" ng-model="followers">
    <h2>You have {{followers}} friends</h2>
  </div>

  <div class="follow" ng-model="filter">
    <h2>Number of friends that have more than 100 friends: {{filter}}</h2>
  </div>

</div>
