body {
  height: 100%;
  width: 100;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
  background-color: indigo;
}

button {
  display: inline-block;
  margin: 0.75rem;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  font-size: 2em;
  background-color: #1999d9;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Arial' sans-serif;
  line-height: 2rem;
  width: 400px;
  align-items: center;
  letter-spacing: 3px;
}

button:focus,
button:hover {
  background-color: #4cb2eb;
  transition-duration: 75ms;
  box-shadow: 0 0 0 0.1875rem white,
             0 0 0 0.375rem #ea4c89;
}
button:active {
  background-color: #4cb2eb;
  box-shadow: 0 0 0 0.1875rem #ea4c89,
             0 0 0 0.375rem #ea4c89;
  transition-duration: 0.75ms;
}

button.outline{
  border: 0.19rem solid #4cb2eb;
  background-color: transparent;
  color: #4cb2ec
}

button.outline:focus,
button.outline:hover {
  border-color: #eb4c5f;
  color: #eb4c5f;
}
a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: 'San Franscisco', Calibri, Helvetica, Arial, sans-serif;
  font-weight: 50;
}

.follow {
  text-align: center;
  color: #fff;
  font-family: 'San Franscisco', Calibri, Helvetica, Arial, sans-serif;
  font-weight: 50;
}

#container {
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

form {
  padding: 3em 3em 4em 3em;
  transition: all 0.2s ease-out;
}

input {
  width: 360px;
 display: block;
 font-size: 13px;
 padding: 5px;
 margin-bottom: 10px;
 background-color: white;
 border-radius: 5px;
  width:400px;
 transition: all 0.2s ease-out;
 position: relative;;
}

input.ng-invalid {
  background-color: lightpink;
}

input {
  color: #171313;
  font-weight: 500;
}

input.ng-valid {
  background-color: lightgreen;
}
.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
  color: #fff;
}

.creator .message {
  clear: both;
}
